@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.swiper-button-next,
.swiper-button-prev {
  color: #745ea5; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #581c87;
}

.swiper-pagination-bullet {
  background-color: #d1c4e9; 
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #745ea5; 
}

section {
  scroll-margin-top: 56px;
}