@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.swiper-button-next,
.swiper-button-prev {
  color: #745ea5; /* Warna ungu primary kamu */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #581c87; /* Warna dark */
}

.swiper-pagination-bullet {
  background-color: #d1c4e9; /* Ungu muda */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #745ea5; /* Warna primary */
}

section {
  scroll-margin-top: 56px;
}